<h1>New Question</h1>

<%# this will render a partial name `_form.html.erb` that is within the same
    folder as this file (so it will look for it in `app/views/questions`). If
    the partial is located in another folder then you will have to put the full_messages
    path such as `render '/answers/form'`. All partials should start with `_`.
    Partials will have access to instance variables that are availalbe in this
    template. In this case, the `_form` partial will have access to `@question`
    %>
<%= render 'form' %>
